{% extends 'base.html' %} {% load static %} {% load form_extras %} {% block title %}Add Subscription - Subscription Manager{% endblock %} {% block content%}
<div class="row justify-content-center">
  <div class="col-md-8 col-lg-6">
    <div class="card shadow">
      <div class="card-header bg-primary text-white">
        <h4><i class="fas fa-plus me-2"></i>Add New Subscription</h4>
      </div>
      <div class="card-body">
        <form method="post">
          {% csrf_token %}

          <!-- Basic Information -->
          <div class="row">
            {% include 'partials/form_field.html' with field=form.name col_size=12 %}
          </div>

          <!-- Cost Information -->
          <div class="row">
            {% include 'partials/form_field.html' with field=form.monthly_cost col_size=6 %} {% include 'partials/form_field.html' with field=form.yearly_cost col_size=6 %}
          </div>

          <!-- Billing and Date Information -->
          <div class="row">
            {% include 'partials/form_field.html' with field=form.billing_cycle col_size=6 %} {% include 'partials/form_field.html' with field=form.start_date col_size=6 %}
          </div>

          <!-- Duration Fields -->
          {% include 'partials/duration_fields.html' with form=form %}

          <!-- Auto Renewal -->
          <div class="row">
            {% include 'partials/checkbox_field.html' with field=form.auto_renewal col_size=12 %}
          </div>

          <!-- Category -->
          <div class="row">
            {% include 'partials/form_field.html' with field=form.category col_size=12 %}
          </div>

          <!-- Form Actions -->
          {% include 'partials/form_actions.html' with cancel_url="subscription_list" submit_text="Add Subscription" submit_icon="fas fa-save" %}
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %} {% block extra_js %}
<script src="{% static 'js/subscription-forms.js' %}"></script>
{% endblock %}
